<nav class="maindiv">
    <div class="nav-bar">
        <div class="logo">
            ProjectOnTrack
        </div>
        
        <a routerLink="/login" class="login">Login</a>
        <a routerLink="/register" class="register">Register</a>
        
    </div>

    <div class="about">
        <h3>About us</h3>
        <p>A web-based working platform, Project On Track provides complete Solutions and support to the Project Controls discipline in managing a portfolio of projects under enterprise project structure through 

            Set up Central and Project libraries for reference data.
            Set up project rules, budgets and baselines and forecasts
            Resources Procurement and their management through asset registers
            Historical records for Work Progress, actual costs and resource utilization
            Real-time data collaboration, inbuilt reporting and performance monitoring
            Project On Track bridges the gap that has traditionally existed between planning and managing project execution.</p>
    </div>
</nav>